{% extends "layout.html" %}
{% block content %}
    <div class="col-md-4">
          <div class="content-section">
            <h3>Sidebar</h3>
            <p class='text-muted'>Our categories
              <ul class="list-group">
                {% for cat in cats %}
                    <li class="list-group-item list-group-item-light">
                        <a class="mr-2" href="{{ url_for('home', category=cat.id) }}">{{ cat.title }}</a>
                    </li>
                {% endfor %}
              </ul>
            </p>
          </div>
    </div>

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('profile', profile_id=post.author.id) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.created_at.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <h3 class="article-content">Read a {{ post.category.title }} article</h3>
          </div>
        </article>
    {% endfor %}

{% endblock content %}